@import "./reset.scss";

.pre-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $color1;
        animation: lds-grid 1.2s linear infinite;
      }
      .lds-grid div:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
      }
      .lds-grid div:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
      }
      .lds-grid div:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
      }
      .lds-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
      }
      .lds-grid div:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
      }
      .lds-grid div:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
      }
      .lds-grid div:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
      }
}

.s-containe {
    width: 100%;
    overflow: hidden;
    margin: auto;

    .swiper-button-prev,
    .swiper-button-next {
        color: rgba(128, 128, 128, 255);
        transition: all 0.5s;
        top: 40%;

        &:after {
            font-size: 12px;
        }

        &:hover {
            color: white;
            background-color: black;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    .swiper-button-prev {
        right: -45px;
    }

    .swiper-button-next {
        left: -45px;
    }

    .swiper-pagination {
        position: static;
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    //swiper bagenation
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: $color1;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }
}

.s-head {
    margin-bottom: 40px;
    text-align: center;

    h3 {
        margin: 0;
        font-size: 26px;
        font-family: TajawalMedium;
        position: relative;
    }

    @media (max-width: 576px) {
        h3 {
            margin-bottom: 20px;
        }
    }
}

.product {
    padding-bottom: 20px;
    .product-img {
        background-color: #f6f6f6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 260px;
        margin-bottom: 15px;
        position: relative;

        img {
            transition: all 0.5s;
            max-width: 100%;
            transform: scale(1.02);
        }

        .icon {
            padding: 7px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $color1;
            font-size: 14px;
            font-family: TajawalBold;
            position: absolute;
            top: 11px;
            left: 11px;
            cursor: pointer;
            transition: all 0.5s;
        }
        a {
            &:hover {
                color: black;
            }
        }
    }

    .product-disc {
        text-align: center;

        h5 {
            font-size: 16px;
            margin-bottom: 12px;

            &:hover {
                a {
                    color: $color1;
                }
            }
        }

        .price {
            margin-bottom: 20px;
            .now {
                font-size: 18px;
                font-family: TajawalBold;
            }

            .price-sale {
                text-decoration: line-through;
                color: rgba(117, 117, 117, 255);
                margin: 0 5px;
                font-size: 18px;
                font-weight: 400;
                display: flex;
            }

            span {
                margin: 0 1px;
            }
        }

        @media (max-width: 576px) {
            .price {
                flex-direction: column;
            }
        }
    }

    &:hover {
        .product-img {
            img {
                transform: scale(1.005);
            }
        }
    }

    @media (max-width: 576px) {
        .product-disc {
            .price {
                .now,
                .price-sale {
                    font-size: 16px;
                }
            }
            .cart {
                a {
                    width: 110px;
                    font-size: 13px;
                }
            }
        }
    }
}

.product-slider {
    margin-top: 80px;
    position: relative;
    overflow: hidden;

    @media (max-width: 576px) {
        margin-top: 40px;
    }
}

.banner-container {
    position: relative;
    overflow: hidden;
    margin-top: 70px;

    @media (max-width: 576px) {
        margin-top: 50px;
    }

    .banner-content {
        .banner {
            width: 100%;
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
                transition: all 0.5s;
                transform: scale(1.007);
            }

            &::before {
                position: absolute;
                top: 0;
                left: -105%;
                z-index: 2;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                transform: skewX(-25deg);
                cursor: pointer;
            }

            &:hover {
                &::before {
                    animation: shine 0.7s ease forwards;
                }
                img {
                    transform: scale(1);
                }
            }
        }
    }
}

.banner-container.banners {
    margin-top: 25px;
    .banner-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .banner {
        width: 49%;
        position: relative;
        margin-bottom: 25px;

        img {
            max-width: 100%;
        }
    }
    @media (max-width: 768px) {
        margin-top: 15px;
        .banner {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

.banner-container.banner-two {
    margin-top: 80px;

    @media (max-width: 576px) {
        margin-top: 50px;
    }
}

.banner-container.top {
    margin-top: 0;

    .banner {
        &:before {
            display: none;
        }
    }
}

nav {
    position: relative;

    .top-settings {
        display: flex;
        align-items: center;
    }

    .top-setting {
        position: relative;

        .setting-anchor {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &::after {
                font-family: "Linearicons-Free";
                font-weight: 900;
                content: "\e874";
                font-size: 8px;
                margin-inline-start: 4px;
            }
        }

        .top-dropDown {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            min-width: 120px;
            padding: 10px;
            padding-bottom: 15px;
            border-radius: 0;
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
            text-align: center;
            transition: all 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;
            z-index: 9;

            @media (max-width: 1300px) {
                left: 0;
                transform: none;
            }

            & > .drop-link,
            & > .top-setting > .setting-anchor {
                white-space: nowrap;
                padding: 3px;
                margin-bottom: 4px;
                font-size: 15px;
                display: block;
                color: rgb(137, 137, 137);
                transition: all 0.3s ease-in-out;
                a {
                    color: inherit;
                }

                img {
                    margin-inline-end: 15px;
                }

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                &:hover {
                    color: black;
                }
            }
        }

        &:hover {
            & > .setting-anchor {
                color: $color1;
            }
            & > .top-dropDown {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .nav-top {
        background-color: #f7f7f7;
        color: rgb(128, 128, 128);

        .top {
            text-align: center;
            background-color: $color1;
            color: black;
            padding: 10px 0;
            p {
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            .num {
                margin-inline-end: 10px;
                margin-inline-start: 5px;
                font-family: TajawalBold;
            }
            .closeit {
                cursor: pointer;
            }

            @media (max-width: 992px) {
                padding: 10px 23px;

                p {
                    display: block;
                }
            }
        }

        .bottom {
            padding: 15px 0;
        }

        .c2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-head {
            p {
                font-size: 14px;
                margin: 0;
            }
        }

        .top-body {
            .social {
                a {
                    font-size: 16px;
                    margin-inline-start: 22px;
                    transition: all 0.3s;
                    color: rgba(153, 153, 153, 255);

                    &:hover {
                        color: $color1;
                    }
                }
            }

            .nav-lang {
                font-size: 14px;
                margin-inline-start: 34px;

                .top-dropDown {
                    text-align: start;

                    img {
                        margin-inline-end: 5px;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            .top-head {
                display: none;
            }
            .top-body {
                width: 100%;

                .social {
                    a {
                        margin-inline-start: 0;
                        margin-inline-end: 22px;
                    }
                }

                .nav-lang {
                    margin-inline-start: auto;
                }
            }
        }
    }

    .nav-bottom {
        padding: 15px 0;

        @media (max-width: 576px) {
            padding: 10px 0;
        }

        .c2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav-logo {
            text-align: start;
            max-width: 27%;
            img {
                max-width: 100%;
            }
        }

        .nav-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 22px;

            & > div {
                margin-inline-start: 20px;
                cursor: pointer;
                font-family: TajawalMedium;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .ico {
                    font-size: 22px;
                    color: black;
                    transition: all 0.5s;
                }

                &:hover {
                    .ico {
                        color: $color1;
                    }
                }
            }

            .user {
                .setting-anchor {
                    &::after {
                        display: none;
                    }
                }
            }
            .cart {
                position: relative;
                transition: all 0.5s;

                .count {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    background-color: $color1;
                    color: black;
                    font-size: 12px;
                    position: absolute;
                    top: -7px;
                    right: -7px;
                }

                &:hover {
                    .count {
                        animation: vibe 0.7s ease forwards;
                    }
                }
            }

            .menu {
                display: none;
                line-height: 0;
            }

            @media (max-width: 992px) {
                .favourite {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }

    .nava {
        margin: 0 auto;
        transition: all 0.5s;

        .nava-content {
            & > ul {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: TajawalMedium;

                & > li {
                    margin: 0 10px;

                    & > a {
                        position: relative;
                        color: black;
                        font-weight: 500;
                        font-family: TajawalMedium;
                        font-size: 18px;
                        text-transform: capitalize;
                        transition: all 0.5s;

                        &:hover {
                            color: $color1;
                        }
                    }
                    .top-dropDown {
                        min-width: 230px;
                        text-align: start;
                    }
                }

                .slide-active {
                    & > .drop {
                        color: $color1;

                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }

                .in-menu {
                    .setting-anchor {
                        display: flex;

                        &:after {
                            margin-inline-start: auto;
                            transform: rotate(90deg);
                            transition: all 0.5s;
                        }
                    }

                    .top-dropDown {
                        right: calc(100% + 10px);
                        transform: none;
                        top: 0;
                    }
                }
            }
            .nava-head {
                display: none;
            }
        }

        @media (max-width: 992px) {
            margin: 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -5;
            opacity: 0;
            transition: all 0.5s;

            .nava-content {
                background-color: white;
                width: 100%;
                transition: all 0.5s;
                flex-direction: column;
                padding: 30px 30px 50px 30px;

                & > ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    li {
                        margin: 10px 0;

                        a {
                            font-size: 18px;
                        }
                    }

                    .sm-slide {
                        .drop {
                            &:after {
                                font-family: "Linearicons-Free";
                                font-weight: 900;
                                content: "\e874";
                                font-size: 8px;
                                margin-inline-start: auto;
                                transition: all 0.5s;
                            }
                        }
                        .top-dropDown {
                            padding-top: 15px;

                            & > .drop-link,
                            & > .slide > .setting-anchor {
                                white-space: nowrap;
                                padding: 3px;
                                margin-bottom: 4px;
                                font-size: 15px;
                                display: flex;
                                transition: all 0.3s ease-in-out;
                                a {
                                    color: inherit;
                                }

                                img {
                                    margin-inline-end: 15px;
                                }

                                &:hover {
                                    color: black;
                                }
                            }
                        }
                    }

                    .in-menu {
                        .top-dropDown {
                            padding: 0;

                            & > .drop-link,
                            & > .slide > .setting-anchor {
                                color: rgba(137, 137, 137, 255);
                            }
                        }
                    }

                    .slide-active {
                        & > .drop {
                            color: black;

                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .nava-active {
        opacity: 1;
        z-index: 999;
        height: 100%;
    }
}

.up {
    height: 50px;
    width: 50px;
    background-color: rgba(97, 97, 97, 0.4);
    right: 20px;
    bottom: 30px;
    color: white;
    font-size: 17px;
    position: fixed;
    z-index: 999;
    border-radius: 100%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

    &:hover {
        background-color: $color1;
    }
}

.active-up {
    visibility: visible;
    opacity: 1;
}

.search-form {
    height: 0%;
    width: 0%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -500;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    .close-search {
        font-size: 20px;
        margin-bottom: 170px;
        margin-top: 40px;
        cursor: pointer;

        @media (max-width: 576px) {
            margin-bottom: 130px;
            margin-top: 50px;
        }
    }

    .search {
        width: 590px;
        height: 50px;
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        form {
            height: 100%;
        }

        input {
            width: 100%;
            height: 100%;
            font-size: 20px;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #c7c7c7;
            background-color: transparent;
            padding: 0 20px;
            outline: none;
            transition: all 0.5s;

            @media (max-width: 576px) {
                padding: 0 15px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: transparent;
            }

            &:focus {
                border-bottom: 1px solid black;
            }
        }

        .searching {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            font-size: 30px;
            transition: all 0.5s;

            &:hover {
                color: $color1;
            }
        }
    }
}

.search-form-active {
    opacity: 1 !important;
    z-index: 2000 !important;
    height: 100% !important;
    width: 100% !important;
}

header {
    .swiper-container {
        width: 100%;
        height: auto;

        .swiper-pagination {
            bottom: 35px;

            @media (max-width: 576px) {
                bottom: 15px;
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: rgb(255, 255, 255);
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            transition: all 0.5s;
            height: 46px;
            width: 46px;
            border-radius: 0;
            top: 50%;
            background-color: rgba(0, 0, 0, 0.6);

            @media (max-width: 992px) {
                display: none;
            }

            &:after {
                color: rgb(255, 255, 255);
                font-size: 15px;
            }

            &:hover {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
                &:after {
                    color: rgb(0, 0, 0);
                }
            }
        }

        .swiper-button-prev {
            right: 0;
        }

        .swiper-button-next {
            left: 0;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: auto;
                transition: all 0.5s;
            }
        }
    }
}

.notes {
    background-color: #f7f7f7;
    margin-top: 35px;
    padding: 40px;

    .notes-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .note-icon {
        img {
            margin-bottom: 25px;
        }
    }

    .note-body {
        h4 {
            font-size: 18px;
            margin: 0;
            font-family: TajawalMedium;
            max-width: 200px;
        }
    }

    @media (max-width: 768px) {
        padding: 50px 0 0 0;
        margin-top: 10px;

        .notes-content {
            flex-direction: column;
        }

        .note {
            margin-bottom: 50px;
        }
    }
}

.newsletter {
    background-color: #58595b;
    color: white;
    padding: 52px 0;
    overflow: hidden;
    .news-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    span {
        margin-inline-end: 20px;
        font-size: 30px;
    }
    h3 {
        font-size: 27px;
        margin: 0;
        font-family: TajawalBold;
        display: inline;
    }
    form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        input {
            width: 520px;
            max-width: 100%;
            height: 45px;
            font-size: 14px;
            background-color: white;
            border-radius: 0;
            border: none;
            padding-inline-start: 20px;
            color: rgba(117, 117, 117, 255);
            outline: none;
            transition: all 0.5s;
        }

        .send-btn {
            font-size: 16px;
            padding: 13px 30px;
            transition: all 0.5s;
            color: black;
            font-family: TajawalBold;
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: $color1;
        }
    }

    @media (max-width: 992px) {
        padding: 40px 0;
        .news-body {
            justify-content: center;
            flex-direction: column;
        }

        .news-text {
            text-align: center;
            h3 {
                margin-bottom: 20px;
                display: block;
                margin-top: 10px;
            }
            span {
                margin-inline-end: 0;
            }
        }
    }
    @media (max-width: 992px) {
        .news-text {
            h3 {
                font-size: 22px;
            }
        }

        form {
            flex-direction: column;

            .send-btn {
                margin-top: 5px;
            }
        }
    }
}

footer {
    padding-top: 80px;
    padding-bottom: 25px;
    overflow: hidden;

    .footer-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @media (max-width: 992px) {
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .head {
            h4 {
                margin: 0;
                margin-bottom: 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: TajawalBold;
                font-size: 16px;

                span {
                    font-size: 14px;
                    transition: all 0.5s;
                    display: none;

                    @media (max-width: 992px) {
                        display: inline;
                    }
                }
            }

            p {
                margin: 0;
                margin-bottom: 16px;
                font-size: 16px;
            }
        }

        ul {
            padding: 0;
            li {
                margin-bottom: 15px;
                transition: all 0.5s;
                color: #8a8a8a;
                a {
                    font-size: 16px;
                    transition: all 0.3s;
                    text-transform: capitalize;
                    font-family: TajawalMedium;
                }
                &:hover {
                    transform: translateX(-5px);
                    a {
                        color: $color1;
                    }
                }
            }
        }

        .footer-list {
            transition: all 0.5s;

            @media (max-width: 992px) {
                width: 100%;
                .head {
                    h4 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
                ul {
                    text-align: start;
                }
            }
        }

        .footer-list-active {
            .head {
                h4 {
                    span {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .footer-logo {
            max-width: 300px;

            img {
                margin-bottom: 20px;
                margin-top: -25px;
            }

            p {
                font-size: 15px;
                margin: 0;
            }
        }
    }

    .contact {
        .contact-head {
            margin-bottom: 25px;
            h2 {
                font-size: 30px;
                font-family: TajawalBold;
                margin: 0;
                margin-bottom: 13px;
            }
            p {
                font-size: 22px;
                margin: 0;
            }
        }

        .contact-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

        .contact-info {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: $color1;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-inline-end: 10px;
            }

            h3 {
                font-size: 18px;
                font-family: TajawalBold;
                margin: 0;
                margin-bottom: 8px;
            }
            h4 {
                font-size: 24px;
                color: rgba(129, 129, 129, 255);
                margin: 0;
            }

            a{
                &:hover,
                &:focus{
                    color:$color1;
                }
            }
        }

        .num {
            color: rgba(235, 0, 27, 255);
            text-align: center;
            font-size: 18px;
            margin-bottom: 40px;

            br {
                display: none;
            }
        }
    }

    .social {
        margin-bottom: 30px;

        a {
            font-size: 26px;
            margin: 0 10px;
            transition: all 0.3s;
            color: rgba(153, 153, 153, 255);

            &:hover {
                color: $color1;
            }
        }
    }

    .payment {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 55px;
        padding-bottom: 1px;

        img {
            margin: 0 5px;
        }
    }

    .credit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 15px;
        }
        @media (max-width: 576px) {
            justify-content: center;
            flex-direction: column;
            p {
                margin: 5px 0;
            }
        }
    }

    @media (max-width: 576px) {
        padding-top: 60px;

        .footer-top {
            margin-bottom: 35px;
            .footer-logo {
                max-width: unset;
                margin-bottom: 45px;
            }

            .head {
                h4 {
                    font-size: 18px;
                }
            }
        }

        .contact {
            .contact-head {
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 19px;
                }
            }
            .contact-content {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;

                .contact-info {
                    margin-bottom: 25px;
                }
            }

            .num {
                font-size: 24px;
                br {
                    display: block;
                }

                span {
                    display: none;
                }
            }
        }

        .payment {
            flex-wrap: wrap;
            margin-bottom: 20px;

            img {
                max-width: 24%;
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}

html[dir="ltr"] {
    .s-containe {
        .swiper-button-prev {
            right: unset;
            left: -45px;
        }
        .swiper-button-next {
            left: unset;
            right: -45px;
        }
    }

    nav {
        .top-setting {
            .top-dropDown {
                @media (max-width: 1300px) {
                    left: unset;
                    right: 0;
                }
            }
        }
        .nava .nava-content > ul .in-menu {
            .setting-anchor:after {
                transform: rotate(-90deg);
            }

            .top-dropDown {
                left: calc(100% + 10px);
                right: unset;
            }
        }
    }

    .search-form {
        .searching {
            left: unset;
            right: 0;
        }
    }

    header {
        .swiper-container {
            .swiper-button-prev {
                right: unset;
                left: 0;
            }

            .swiper-button-next {
                left: unset;
                right: 0;
            }
        }
    }

    footer {
        .footer-top {
            ul {
                li:hover {
                    transform: translateX(5px);
                }
            }
        }
    }
}

@keyframes vibe {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
